.venv/
__pycache__/
*.pyc

LTspiceSim/*.txt
*.raw
*.log
*.csv
!bowelProbe-PickAndPlace.csv
!bowelProbeBOM.csv
*.bin

*.bak
*.kicad_pcb-bak
*.kicad_sch-bak
*.sch-bak
*.cad-bak
fp-info-cache
_autosave-*
*.lck

.DS_Store
bowelProbe3D.step
